
<% @recipes.each do |recipe| %>
	<ul>
		<p><%=link_to recipe.name, recipe_path(recipe)%>
    </p>
    <p><%= link_to "Edit" , edit_recipe_path(recipe) %></p>
    
    <!-- = link_to "Delete Message", user_message_path(message.user, message), method: :delete, data: {confirm: "You sure?"} -->

    <hr>
	</ul>
  
<%end%>

<%= link_to "New Recipe", new_recipe_path%>


