<h1>New Recipe</h1>
<%= render partial: "form" %>

<!--
This is our goal for what `params` should look like:

{recipe:
	{name: 'Hamburger'}, ingredient_attributes:[
		{name: 'burger'},
		{name: 'bun'},
		{name: 'lettuce'}
	]
}
-->
