
<div class="middlePage">
<h3><%=@recipe.name%></h3>

<ul class="list-group">
  
  <%@recipe.ingredients.each do |i|%>
    <% if ! i.name.blank? %>
    <li class="list-group-item"> <%= i.name%></li>
    <%end%>
  <%end%>

</ul>
<%= link_to "Back", recipes_path %>
</div>